{% extends "index.html" %}
{% block content %}
<section id="page-header">

    <h2>#lets-talk</h2>

    <p>LEAVE A MESSAGE, We love to hear from you!</p>
</section>
<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>product</td>
                <td>price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="../static/img/products/1.jpg" alt=""></td>
                <td>cotton black Golf shirt</td>
                <td>$139.00</td>
                <td><input type="number" value="1"></td>
                <td>$139.00</td>
            </tr>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="../static/img/products/1.jpg" alt=""></td>
                <td>cotton black Golf shirt</td>
                <td>$139.00</td>
                <td><input type="number" value="1"></td>
                <td>$139.00</td>
            </tr>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="../static/img/products/1.jpg" alt=""></td>
                <td>cotton black Golf shirt</td>
                <td>$139.00</td>
                <td><input type="number" value="1"></td>
                <td>$139.00</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="cart-add " class="section-p1">
    <div id="coupon">
        <h3>apply coupon</h3>
        <div>
            <input type="text" placeholder="Enter your coupon">
            <button class="normal">apply</button>
        </div>

    </div>
    <div>

    </div>

</section>
{% endblock content %}