{% extends "nathan/nathan_home.html" %}
{% block content %}
    <section id="hero">
        <h4>Trade in offer</h4>
        <h2>super value deals</h2>
        <h1>on all products</h1>
        <p>save more with coupons & up to 70% off!</p>
        <button>shop now</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>featured products</h2>
        <p>summer colletion new  mordern design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
    </section>
    <section id="banner" class="section-m1">
        <h4>Repair services</h4>
        <h2>up to<span>75% off</span>-All t-shirts & accessories</h2>
        <button class="normal">Explore more</button>
    </section>
    <section id="product1" class="section-p1">
        <h2>new Arrivals</h2>
        <p>summer colletion new  mordern design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/products/3.jpg" alt="">
                <div class="des">
                    <span>dior</span>
                    <h5>cartoon astronaut shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </di>
                        <h4>mkw 3500.00</h4>
                    </div>

                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
    </section>

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best dress is in sale at low price</span>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best dress is in sale at low price</span>
            <button class="white">Learn More</button>
        </div>
    </section>
    <section id="banner3">
        <div class="banner-box ">
            <h2>SEASONAL SALE</h2>
            <h3>winter collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2">
            <h2>SEASONAL SALE</h2>
            <h3>winter collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box3">
            <h2>SEASONAL SALE</h2>
            <h3>winter collection -50% OFF</h3>
        </div>
    </section>
{% endblock content %}